doctype html
head
  link(rel='stylesheet' href='/public/resources/css/css-style.css')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Boodle
#nav-bar
  nav
    ul
      #leftnav
        li
          img#header-logo(src='/public/resources/images/boodlelogo.png' alt='Boodle Logo')
        li
          label.boodletext Boodle
      #rightnav
        li
          a.nav-link(href='#guide') Setup Guide
        li
          a.nav-link(href='#commands') Commands
form(method='post' action='./')
  div
    section#introduction
      h2 Boodle introduction
    p
      | Boodle is your new tool to help make your study life easier. An easy
      | and quick guide on how to setup this tool will follow.
  section#guide
    h2 Guide on how to setup Boodle
  p
    | First you'll have to find your personal Moodle token.
    | Go to Moodle and login, click on your name in the top right corner. <br/><br/>
    | Click on preferences in the drop down menu and you will be redirected to a new site.
    | Under user account you will need to click on security keys. This should redirect you to a new site, in which you can see three different keys. <br/><br/>
    | You'll need to copy the key next to "Moodle mobile web service". <br/><br/>
    | Paste the key into the input field beneath this guide and press submit.
    | If done correctly you will see a "user created", and now you can go ahead and try out your new digital tool!   
  .form-group
    label#name-label.name-label(for='name') Moodle token
    input#postDiscordId.form-control(type='text' name='DiscordId' readonly='' value=`${id}`)
    input#postMoodletoken.form-control(type='text' name='MoodleToken' placeholder='Enter your Moodle token' required='')
  .form-group
    button#btnSubmit.submit-button(type='submit' formmethod='post')
      | Submit
    p This will connect the Moodle token to this discord id: #{id}
  section#commands
    h2 Commands for Boodle
    p
      | In this section you will see all the possible commands that you can
      | use with Boodle on Discord.
    table
      thead
        tr
          th Command
          th Description
      tbody
        tr
          td /tomorrow
          td Gives you the schedule for tomorrow.
        tr
          td /tomorrow
          td Gives you the schedule for tomorrow.
        tr
          td /tomorrow
          td Gives you the schedule for tomorrow.
