@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

/* Global variables */
:root {
  --color-white: #f3f3f3;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-orange: rgba(249, 128, 18);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
  background: var(--color-white);
  background-image: url(/website/resources/images/backgroundimage.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 70%;
  margin: auto;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-white);
  background-image: linear-gradient(
      115deg,
      rgba(76, 188, 208, 0.9),
      rgba(76, 188, 208, 0.8)
    ),
    url(/website/resources/images/backgroundimage.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* Navigation bar */
#nav-bar {
  padding: 4.8rem;
  background: #f81414;
}

#header-logo {
  width:  5rem;
  height: 5rem;
  float: left;
}

#boodletext {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 0rem;
  color: var(--color-orange);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.left-nav {
  float: right;
}

.right-nav {
  float: left;
}

.nav-link {
  display: block;
  color: var(--color-white);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  float: right;
  
}
nav a:hover {
  background-color: #ddd;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}

li {
  padding: 0.5rem;
}

/* */

p {
  font-size: 1.125rem;
}

h2 {
  color: var(--color-orange);
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
}

/*
.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
} */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  text-align: center;
}
/*
.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}
*/
.text-center {
  text-align: center;
}

/* form */

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
    height: 1000px;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 50%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/*
.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 50%;
  padding: 0.625rem;
  resize: vertical;
}
*/
.submit-button {
  display: block;
  width: 50%;
  padding: 0.75rem;
  background: var(--color-orange);
  color: inherit;
  border-radius: 2px;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
}

/* Command table */
table,
th,
td {
  background-color: #ddd;
  color: black;
  border: 1.5px solid;
  border-radius: 0.5rem;
  overflow-wrap: break-word;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}
