@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');


/* Generelt */
* {
    font-family: 'Poppins', sans-serif;
}

/* no touch */
#auth {
    background-image: linear-gradient(to right, rgba(10, 14, 24, 0.338), rgba(41, 73, 255, 0.338)), url('../__AAU_CENTER_WHITE_UK.png');
    background-size: cover;
}
.nav-item {
   margin-left: 20px;
}
/* Login side */
.card-login {
    margin: 0 auto;
    margin-top: 280px;
    border-radius: 15px;
    border-style: none;
}

.card-login h3 {
    font-weight: 600;
}

.card-login button {
    font-weight: 500;
}
/* Login side SLUT */

/* Register side */
.card-register {
  margin: 0 auto;
  margin-top: 220px;
  border-radius: 15px;
  border-style: none;
}

.card-register h3 {
  font-weight: 600;
}

.card-register button {
  font-weight: 500;
}
/* Register side SLUT */

section.top-titel {
  text-align: center;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../__AAU_CENTER_WHITE_UK.png");
  background-position:center center;
  position: relative;
  background-size: cover;
  height: 30vh;
}

section.top-titel h1 {
  font-weight: 500;
  font-size: 4rem;
  padding-top: 5.5rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

section.top-titel p {
  font-weight: 600;
  margin-top: -5px;
  margin-right: 120px;
  margin-left: 120px;
  font-size: 1.3rem;
  color: #e7e7e7;
  text-shadow: 2px 2px 4px #000000;
}

section.top-titel a {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1.rem;
}


.form-control {
    border-width: 100px;
}

  ::selection {
    background: #396afc; /* WebKit/Blink Browsers */
    color: white;
  }

  .btn-style {
    color: #fff;
    background-color: #396afc;
    border-color: #396afc;
  }
  
  .btn-style:hover {
    color: #fff;
    background-color: #2655e0;
    border-color: #2655e0;
  }
  
  .btn-style:focus, .btn-style.focus {
    color: #fff;
    background-color: #2655e0;
    border-color: #1d48c9;
    box-shadow: 0 0 0 0.2rem rgba(38, 85, 224, 0.25);
  }

  .link {
      color: #2655e0;
  }

  .link:hover {
      text-decoration: none;
      color: #1d48c9;
  }
  .badge-primary {
  color: #fff !important;
  background-color: #2c3961 !important;

}

.dashboard-nav {
  margin: 10px;
}

.color::active {
  background-color: #2c3961 !important;
}
